# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL=
NEXT_PUBLIC_BASE_URL=
NEXT_PUBLIC_WEBSITE_NAME=

#Upstash - RateLimit Login - https://upstash.com/docs/redis/overall/getstarted
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

#Cache Revalidation Values in Seconds(Defaults to 5 seconds)
HOMEPAGE_CACHE_REVALIDATE=5
POSTS_CACHE_REVALIDATE=5
DISCUSSIONS_STATS_REVALIDATE=5

#For Comments, Reactions and Discussions
# https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens
GITHUB_AUTH_TOKEN=

# Get it from giscus(https://giscus.app/) after setting your repo with URL mapping
NEXT_PUBLIC_GITHUB_REPO_ID=
NEXT_PUBLIC_GITHUB_CATEGORY_ID=
NEXT_PUBLIC_GITHUB_REPO_NAME=
NEXT_PUBLIC_GITHUB_REPO_OWNER=


# Get your OpenAI API key here: https://platform.openai.com/account/api-keys
# Change model at next-blog\app\api\generate\route.ts
OPENAI_API_KEY=
# OPTIONAL: OpenAI Base URL (default to https://api.openai.com/v1)
OPENAI_BASE_URL=

# Vercel Blob (for uploading images)
# Get your Vercel Blob credentials here: https://vercel.com/docs/storage/vercel-blob/quickstart#quickstart
# BLOB_READ_WRITE_TOKEN=
BLOB_READ_WRITE_TOKEN=

# OPTIONAL: Vercel KV (for ratelimiting)
# Get your Vercel KV credentials here: https://vercel.com/docs/storage/vercel-kv/quickstart#quickstart
KV_REST_API_URL=
KV_REST_API_TOKEN=
