# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nextblog?schema=public"
PUBLIC_BASE_URL="http://localhost:3000"

UPLOADTHING_SECRET=sk_live_6bd4e7f09f717f27255fd529bb4b2d28fbdeb5409507b4a9f2c57acda206c7e2
UPLOADTHING_APP_ID=v9fa0cbikv

HOMEPAGE_CACHE_REVALIDATE=5
POSTS_CACHE_REVALIDATE=5


# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# Get your OpenAI API key here: https://platform.openai.com/account/api-keys
# OPENAI_API_KEY=sk-proj-QY3c3p0WGZkcdQLIkrYUT3BlbkFJe4zcYcjCgIvcx13DYi6v
# OPTIONAL: OpenAI Base URL (default to https://api.openai.com/v1)
OPENAI_BASE_URL=

# OPTIONAL: Vercel Blob (for uploading images)
# Get your Vercel Blob credentials here: https://vercel.com/docs/storage/vercel-blob/quickstart#quickstart
BLOB_READ_WRITE_TOKEN=

# OPTIONAL: Vercel KV (for ratelimiting)
# Get your Vercel KV credentials here: https://vercel.com/docs/storage/vercel-kv/quickstart#quickstart
KV_REST_API_URL=
KV_REST_API_TOKEN=
